<div class="container w-80">
        <div  class="d-flex flex-row justify-content-center align-content-center">
            <p style="font-family: Bebas Neue;" class="mt-5">La sesión se ha cerrado correctamente</p>
        </div>
        
</div>


<script>
    setTimeout(()=>{
        location.href="/login"
    } , 2000 )
</script>