<form action="/api/mensajes" method="POST">
    <h2 class="text-primary">Centro de mensajes</h2>
    <input class="form-control my-2" type="text" name="mensaje">
    <button type="submit" class="btn btn-dark mb-2" id="sendMsg">Enviar</button>
</form>
